
.pageContainer {
  text-align: center;
  margin-top: 50px;
}

.mainBox {
  width: 1500px;
  height: 550px;
  background-color: #ead6d6;
  border-radius: 20px;
  margin: 0 auto;
  position: relative; 
  overflow: hidden;
}

.messageText {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 650px;
  font-size: 45px;
  font-weight: bold;
  color: grey;
  text-align: center;
  line-height: 1.3;
}

.buttonContainer {
  position: absolute;
  top: 65%;
  left: 25%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.sellButton {
  width: 500px;
  height: 80px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: #abc8c1;
  color: grey;
}

.sellImage {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 35%;
  height: 80%;
  object-fit: cover; 
  border-radius: 20px;
}