@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-lato-sans);
  --font-mono: var(--font-lato-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
